<template>
    <div class="pillar"></div>
</template>

<script>
    export default {
        name: "Pillar"
    }
</script>

<style lang="scss" scoped>
    .pillar {
        width: 0;
        height: 0;
        margin: 0 auto;
        border-style: solid;
        border-width: 0 75px 150px 75px;
        border-color: transparent transparent #263238 transparent;
    }
</style>